body {
  background-color: #2e2e2d;
  padding-top: 15px;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box {
  position: absolute;
  right: 46%;
  text-align: center;
}
.tittle {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
#myCanvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #da0000;
}
input[type="range"] {
  width: 100%; 
  height: 8px; /* Высота трека */
  background: #ddd; /* Цвет трека */
  border-radius: 5px; /* Скругление углов трека */
  outline: none; /* Убирает контур при фокусировке */
  padding: 0;
  margin: 0;
}

input[type="range"]::-moz-range-thumb {
  width: 20px; /* Ширина ползунка */
  height: 20px; /* Высота ползунка */
  background: #4CAF50; /* Цвет ползунка */
  border: 2px solid #333; /* Цвет и ширина границы ползунка */
  border-radius: 50%; /* Скругление углов ползунка */
  cursor: pointer; /* Вид курсора при наведении */
}
.home-button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 6px;

  background-color: #da0000;
}
.home-button:hover {
  background-color: #f13c20;
}
